.esri-search__form > input {
  background-color: #dddacf !important;
}

/* Search - Start */
.esri-search {
  position: absolute !important;
  z-index: 99 !important;
  top: 50px !important;
  left: 55px !important;
  width: 235px !important;
}
