<div id="mapDivContainer">
    <div id="mapDiv"></div>
</div>

<div id="miniMaps">
    <div id="akViewDiv"></div>
    <div id="hiViewDiv"></div>
    <div id="prView"></div>
</div>

<div id="top">
    <div id="topLeft">
        <div>Esri Drought Aware</div>
        <div>Statistics and impacts of drought in the U.S.A.</div>
        <div>Source: NOAA, Census, USDA</div>
    </div>
    <div id="topRight" style="display: none">
        <div id="filterContainer">
            <nav>
                <button class="btn btn-grouped">County Info</button>
                <button class="btn btn-grouped">State Info</button>
            </nav>
        </div>
        <div id="searchContainer">
            <input id="searchWidget" type="text" placeholder="descriptive or sample text" required>
        </div>
    </div>
</div>

<div id="bottom">
    <div id="locationContainer">
        <span id="selected-location-county"></span>, <span id="selected-location-state"></span>
    </div>
    <div id="bottomLeft">
        <div id="infoContainerLeft">
            <div class="info-container-section">
                <div class="info-container-section-header">Current Drought Status</div>
                <div>(XX/XX/XXXX)</div>
                <div class="info-container-section-value">Moderate Drought</div>
            </div>
            <div class="info-container-section">
                <div class="info-container-section-header">Monthly Drought Status</div>
                <div>(XX/XX/XXXX)</div>
                <div class="info-container-section-value">Drought Intensifies</div>
            </div>
        </div>

        <div id="infoContainerCenter">
            <div class="info-container-section">
                <div class="info-container-section-header">Consecutive Weeks of</div>
                <div>Seasonal Drought</div>
                <div class="info-container-section-value">12</div>
            </div>
            <div class="info-container-section">
                <div class="info-container-section-header">Seasonal Drought Outlook</div>
                <div>(XX/XX/XXXX)</div>
                <div class="info-container-section-value">Drought Improves</div>
            </div>
        </div>

        <div id="infoContainerRight">
            <div class="info-container-section">
                <div class="info-container-section-header">Agricultural Impact</div>
                <div><span id="agrJobs"></span> jobs</div>
                <div>Total Sales: $<span id="agrTotalSales"></span></div>
                <div>Corn: $<span id="agrCorn"></span></div>
                <div>Soy:  $<span id="agrSoy"></span></div>
                <div>Hay: $<span id="agrHay"></span></div>
                <div>Winter wheat: $<span id="agrWheat"></span></div>
                <div>Livestock: $<span id="liveStock"></span></div>
            </div>
        </div>
    </div>
    <div id="bottomRight">
        <div id="chart"></div>
        <div class="font-size--3">
            <span>
                <div class="chart-legend-color-container abnormally-dry"></div>
                <div class="chart-legend-label-container">Abnormally Dry</div>
            </span>
            <span>
                <div class="chart-legend-color-container moderate-drought"></div>
                <div class="chart-legend-label-container">Moderate Drought</div>
            </span>
            <span>
                <div class="chart-legend-color-container severe-drought"></div>
                <div class="chart-legend-label-container">Severe Drought</div>
            <span>
                <div class="chart-legend-color-container extreme-drought"></div>
                <div class="chart-legend-label-container">Extreme Drought</div>
            <span>
                <div class="chart-legend-color-container exceptional-drought"></div>
                <div class="chart-legend-label-container">Exceptional Drought</div>
        </div>
        <div class="btn btn-transparent sign-in-btn hide">Sign In</div>
        <div class="btn btn-transparent sign-out-btn hide">Sign Out</div>
    </div>
</div>