<!-- Drawer -->
<div class="drawer drawer-right js-drawer" data-drawer="top-nav" tabindex="0">
    <nav class="drawer-nav" role="navigation">
        <aside class="side-nav">
            <h2 class="side-nav-title">About</h2>
            <a href="/" class="side-nav-link">Alaska</a>
            <a href="/" class="side-nav-link">Hawaii</a>
            <a href="/" class="side-nav-link">Puerto Rico</a>
        </aside>
    </nav>
</div>

<div class="wrapper">
    <div class="mobile-header">
        <div class="mobile-header-menu-btn btn btn-large js-drawer-toggle icon-ui-menu" data-drawer="top-nav"></div>
        <div class="btn btn-small sign-in-btn">Sign In</div>
        <div class="btn btn-small sign-out-btn hide">Sign Out</div>
    </div>
    <div class="content-container">
        <div class="inset-map-container">
            <div id="inset-map-content">
                <div class="box app-header">
                    <div style="font-size: 2.5em;">Esri Drought Aware</div>
                    <div style="font-size: .85em;">Statistics and impacts of drought in the U.S.A.</div>
                    <div style="font-size: .7em;">Source: NOAA, Census, USDA</div>
                </div>
                <div class="box ak-container">
                    <div id="akViewDiv"></div>
                </div>
                <div class="box hi-container">
                    <div id="hiViewDiv"></div>
                </div>
                <div class="box pr-container">
                    <div id="prViewDiv"></div>
                </div>
            </div>
        </div>

        <div class="main-map-container main-map">
            <div id="mainMapDiv">
                <div id="administrativeAreaToggle" class="esri-widget">
                    <fieldset class="radio-group">
                        <input class="radio-group-input" type="radio" id="county" name="adminboundary" data-admin-area-id="county" checked/>
                        <label class="radio-group-label" for="county">County</label>
                        <input class="radio-group-input" type="radio" id="state" name="adminboundary" data-admin-area-id="state"/>
                        <label class="radio-group-label" for="state">State</label>
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="data-container hide">
            <div style="padding-bottom: .35em">
                <span id="selectedLocation">San Bernardino County, CA</span>
                <span id="population">Population: 2,539,342</span>
            </div>
            <div id="data-container-content">
                <div class="data-container-content-box font-size--3">
                    <div class="trailer-1">
                        <div class="font-size--1">Current Drought Status</div>
                        <div id="currentDroughtStatusDate" class="font-size--3">June 12, 2021</div>
                        <div id="currentDroughtStatus" class="font-size-1 avenir-demi">Moderate Drought</div>
                    </div>

                    <div>
                        <div class="font-size--1">Monthly Drought Outlook</div>
                        <div id="monthlyOutlookDate" class="font-size--3">June 12, 2021</div>
                        <div id="monthlyOutlookLabel" class="font-size-1 avenir-demi">Drought Intensifies</div>
                    </div>
                </div>

                <div class="data-container-content-box font-size--3">
                    <div class="trailer-1">
                        <div class="font-size--1">Consecutive Weeks of</div>
                        <div class="font-size--3">Severe Drought</div>
                        <div id="consecutiveWeeks" class="font-size-1 avenir-demi">24</div>
                    </div>
                    <div>
                        <div class="font-size--1">Seasonal Drought Outlook</div>
                        <div class="font-size--3">June 12, 2021</div>
                        <div class="font-size-1 avenir-demi">Drought Removal Likely</div>
                    </div>
                </div>

                <div class="data-container-content-box font-size--3">
                    <div class="font-size--1">Agricultural Impact</div>
                    <div>Jobs <span id="jobs"></span></div>
                    <div>Total Sales <span id="totalSales"></span></div>
                    <div>Corn <span id="cornSales"></span></div>
                    <div>Soy <span id="soySales"></span></div>
                    <div>Hay <span id="haySales"></span></div>
                    <div>Winter Wheat <span id="wheatSales"></span></div>
                    <div>Livestock <span id="livestockSales"></span></div>
                </div>

                <div class="data-container-content-chart-box">
                    <div class="chart-legend">
                        <div id="chart"></div>
                    </div>
                    <div class="chart-legend">
                        <ul class="flex-container longhand">
                            <li class="flex-item">
                                <div class="chart-legend-color-container abnormally-dry"></div>
                                <div class="chart-legend-label-container font-size--3">Abnormally Dry</div>
                            </li>
                            <li class="flex-item">
                                <div class="chart-legend-color-container moderate-drought"></div>
                                <div class="chart-legend-label-container font-size--3">Moderate Drought</div>
                            </li>
                            <li class="flex-item">
                                <div class="chart-legend-color-container severe-drought"></div>
                                <div class="chart-legend-label-container font-size--3">Severe Drought</div>
                            </li>
                            <li class="flex-item">
                                <div class="chart-legend-color-container extreme-drought"></div>
                                <div class="chart-legend-label-container font-size--3">Extreme Drought</div>
                            </li>
                            <li class="flex-item">
                                <div class="chart-legend-color-container exceptional-drought"></div>
                                <div class="chart-legend-label-container font-size--3">Exceptional Drought</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>