.outlook-container {
  background-color: #dddacf;
  padding: .25em 1em;
  height: 50%;
  margin-top: .25em;
}

.outlook-flex-container {
  display: flex;
}

.outlook-flex-child {
  flex: 1;
}

.outlook-label {
  margin-top: .3em;
  font-size: .8em;
  flex: 0 0 auto;
  width: 100px;
}

.outlook-value {
  font-size: 1.2em;
  text-align: left;
}
