@import '~calcite-web/dist/css/calcite-web.min.css';

.esri-view .esri-view-surface--inset-outline:focus::after {
  outline: none !important;
}




/* Set the background color of body to tan */
body {
  background-color: #cac5b1;
}

@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 2) {
  body {
    background-color: blue;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  body {
    background-color: olive;
  }
}

#mapDivContainer {
  position: absolute;
  inset: 0px 0px 175px 500px;
  display: flex;
}

#mapDiv {
  position: absolute;
  height: 100%;
  width: 100%;
}

#miniMaps {
  position: absolute;
  left: 0;
  top: 15%;
  width: 250px;
}

#akViewDiv {
  padding: 0;
  margin: 0;
  height: 215px;
  width: 300px;
  background-color: #cac5b1;
  box-shadow: none !important;
}

#hiViewDiv {
  padding: 0;
  height: 115px;
  width: 250px;
  margin-left: 0;
  margin-top: 1em;
  background-color: #cac5b1;
  box-shadow: none !important;
}

#prView {
  padding: 0;
  height: 115px;
  width: 250px;
  margin-left: 0;
  margin-top: 1em;
  background-color: #cac5b1;
  box-shadow: none !important;
}




#top {
  position: absolute;
  top: 0;
  left: 0;
  width: 350px;
}

#topLeft {
  margin-left: 1em;
}

#topRight {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1em;
}



#filterContainer {
  float: left;
}

#searchContainer {
  float: right;
}

#searchWidget {
  margin: 0 !important;
}



#bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
}

#locationContainer {
  margin-left: .85em;
  position: absolute;
  bottom: 160;
}

#bottomLeft {
  position: absolute;
  bottom: 0;
  left: 0;
}

#bottomRight {
  position: absolute;
  bottom: 0;
  right: 0;
}


#infoContainerLeft {
  float: left;
  margin-left: 1em;
  font-size: .75em;
}

#infoContainerCenter {
  float: left;
  margin-left: 3em;
  font-size: .75em;
}

#infoContainerRight {
  float: left;
  margin-left: 3em;
  font-size: .75em;
}

.info-container-section {
  margin-bottom: 1em;
}

.info-container-section-header {
  line-height: 1;
}

.info-container-section-value {
  font-size: 1.2em;
}

#chart {
  width: 100%;
  text-align: center;
}

#chart > svg {
  width: 100%;
}

.chart-legend-color-container {
  height: 5px;
  width: 25px;
}

.chart-legend-label-container {

}

.abnormally-dry {
  background: #b2a077;
}

.moderate-drought {
  background: #ccaa5b;
}

.severe-drought {
  background: #e4985a;
}

.extreme-drought {
  background: #e28060;
}

.exceptional-drought {
  background: #b24543;
}