html, body {
  background-color: #cac5b1;
}

.mobile-header {
  display: none;
}

.content-container {
  display: flex;
}

.inset-map-container {
  height: 100vh;
  width: 25vw; /* A fixed width as the default */
}

#inset-map-content {
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-map-container {
  flex-grow: 1; /* Set the middle element to grow and stretch */
}

.box {
  width: 100%;
  height: 100%;
}

.data-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30vh;
  max-height: 250px;
}

#administrativeAreaToggle {
  z-index: 99;
  position: absolute;
  top: 10px;
  right: 275px;
  background-color: transparent;
}

.app-header {
  height: 20vh;
  padding-left: .5em;
}

#mainMapDiv {
  padding: 0;
  margin: 0;
  height: 70vh;
  width: 100%;
}

#akViewDiv {
  padding: 0;
  margin: 0;
  height: 30vh;
  width: 100%;
}

#hiViewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#prViewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#data-container-content {
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap;
  align-items: stretch;
  bottom: 0;
  position: absolute;
  right: 0;
  left: 0;
}

.data-container-content-box {
  flex-basis: 230px;
  padding-left: .5em;
}

.data-container-content-chart-box {
  flex-grow: 4;
}

#chart {
  /*width: 100%;*/
}

#chart > svg {
  /*width: 100%;*/
}

.chart-legend-color-container {
  height: 5px;
  width: 25px;
  float: left;
  margin-top: .5em;
}

.chart-legend-label-container {
  float: left;
  padding-left: .25em;
}

.abnormally-dry {
  background: #b2a077;
}

.moderate-drought {
  background: #ccaa5b;
}

.severe-drought {
  background: #e4985a;
}

.extreme-drought {
  background: #e28060;
}

.exceptional-drought {
  background: #b24543;
}

.flex-container {
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.longhand {
  -webkit-flex-flow: wrap row;
  flex-flow: wrap row;
}

.longhand li {

}

.flex-item {
  text-align: center;
  margin-right: 1em;
}

.chart-legend {
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-container {
  padding-left: .5em;
  padding-bottom: .35em;
  position: absolute;
  left: 0;
  bottom: 162px;
  background-color: #d6d2c4;
  color: #393939;
}

#selectedLocation {
  float: left;
  margin-right: 1.5em;
}

#population {
  float: left;
}

@media only screen and (max-width: 480px) {
  .inset-map-container {
    display: none;
  }
}