@import '~calcite-web/dist/css/calcite-web.min.css';

.esri-view .esri-view-surface--inset-outline:focus::after {
  outline: none !important;
}

/* Set the background color of body to tan */
body {

}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;

  }
}

.esri-search {
  position: absolute !important;
  right: 10px !important;
  top: 20px !important;
}

#location-container {

}

.selected-location-label {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#mainMapContainer {
  /*position: absolute;
  inset: 0px 0px 0px 500px;
  display: flex;*/
  height: 75vh;
}

#mainMapView {
  height: 100%;
  width: 100%;
}

#data-container {
  height: 25vh;
}

#data-text-container {
  line-height: 1;
}

#data-chart-container {

}

.inset-map-icon {
  position: absolute;
  margin-left: .5em;
  opacity: 0.65;
  z-index: 100;
}

.inset-map-container {
  border-left: 1px #d9d9d9 solid;
  height: 8em;
}

#akViewcontainer {
  height: 10em;
}

#akView {
  height: 100%;
  width: 100%;
}

#hiViewcontainer {
  height: 6em;
}

#hiView {
  height: 100%;
  width: 100%;
}

#prViewcontainer {
  height: 6em;
}

#prView {
  height: 100%;
  width: 100%;
}

#chart {

}

.chart-legend-color-container {
  height: 5px;
  width: 25px;
  margin-top: .3em;
  margin-right: .65em;
  float: left;
}

.chart-legend-label-container {
  font-size: 0.70em;
  float: left;
  margin-right: 1em;
}

.abnormally-dry {
  background: #b2a077;
}

.moderate-drought {
  background: #ccaa5b;
}

.severe-drought {
  background: #e4985a;
}

.extreme-drought {
  background: #e28060;
}

.exceptional-drought {
  background: #b24543;
}