@import '~calcite-web/dist/css/calcite-web.min.css';

.esri-view .esri-view-surface--inset-outline:focus::after {
  outline: none !important;
}

html {
  overflow: hidden;
}

body {
  /*background-color: #cac5b1 !important;*/
}

#splash {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  overflow-y: hidden;
  text-align: center;
  opacity: 1;
  visibility: visible;
  background: rgba(202, 197, 177, 1);
  -webkit-transition: visibility 0ms linear 300ms, opacity 300ms cubic-bezier(0.215, 0.44, 0.42, 0.88);
  transition: visibility 0ms linear 300ms, opacity 300ms cubic-bezier(0.215, 0.44, 0.42, 0.88);
  z-index: 101;
}

#appLoadingIndicator {
  position: absolute;
  z-index: 102;
  margin-left: 50%;
  margin-top: 15%;
}

.custom-alert {
  position: absolute;
  z-index: 103;
}

#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.esri-widget--button {
  background-color: #dddacf !important;
}

.esri-search__form > input {
  background-color: #dddacf !important;
}

.esri-zoom {
  background-color: transparent !important;
}
.esri-zoom .esri-widget--button:first-child {
  margin-bottom: 4px !important;
}

.custom-link {
  color: #762a2a !important;
  font-weight: bold !important;
}

.custom-link:hover {
  color: #953b3b !important;
}

.js-modal-toggle {
  color: #4e4e4e !important;
}

.modal-close-btn {
  background: transparent;
  border-color: #b39e4d;
  color: #a67a53;
}

.modal-close-btn:hover {
  background: transparent;
  border-color: #b39e4d;
  color: #a67a53;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* iPhone X and Xs Max */
@media only screen
and (min-device-width: 375px)
and (min-device-height: 812px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) {
  #appHdrComponent {
    line-height: unset;
    padding: .25em;
    background-color: #dddacf !important;
    width: 100%;
  }

  #bookmarkComponent {
    display: none;
  }

  #administrativeSubdivision > fieldset {
    display: none;
  }

  #bottomComponent {
    z-index: 15;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 215px;
    background-color: transparent;
    display: block !important;
    overflow: scroll !important;
  }

  #dataComponentLoader {
    position: absolute;
    margin-left: 50%;
  }

  #droughtStatusComponent {
    width: 100%;
  }

  #agrComponent {
    padding: .25em 1em;
    width: 100%;
    background-color: #dddacf !important;
    margin-top: .25em;
  }

  #historicRecordComponent {
    padding: .25em 1em;
    background-color: #dddacf !important;
    width: 100%;
    margin-top: .25em;
  }



  .esri-search {
    display: none !important;
  }

  .esri-zoom {
    display: none !important;
  }

  .esri-home {
    display: none !important;
  }

  .esri-legend {
    display: none !important;
  }
}

/* iPhone XR */
@media only screen
and (min-device-width: 414px)
and (min-device-height: 896px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait) {
  #appHdrComponent {
    line-height: unset;
    padding: .25em;
    background-color: #dddacf !important;
    width: 100%;
  }

  #bookmarkComponent {
    display: none;
  }

  #administrativeSubdivision > fieldset {
    display: none;
  }

  .esri-search {
    display: none !important;
  }

  .esri-zoom {
    display: none !important;
  }

  .esri-home {
    display: none !important;
  }

  .esri-legend {
    display: none !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /*
    Components (layouts of components on top the map)
      App header
      Bookmarks
      Search
      Bottom Component to hold the data/charts
      Legend
  */
  #appHdrComponent {
    line-height: unset;
    padding: .25em;
    border-radius: .15em;
    background-color: #dddacf !important;
    max-width: 360px;
  }

  #bookmarkComponent {
    position: absolute;
    z-index: 99;
    top: 15px;
    left: 55px;
    background-color: #dddacf !important;
  }

  #bottomComponent {
    z-index: 15;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 215px;
    background-color: transparent;
    display: flex;
  }

  #dataComponentLoader {
    position: absolute;
    margin-left: 45%;
  }

  #droughtStatusComponent {
    float: right;
    width: 320px;
    margin-left: .25em;
    margin-right: .25em;
  }

  #agrComponent {
    padding: .25em 1em;
    float: right;
    width: 380px;
    background-color: #dddacf !important;
  }

  #historicRecordComponent {
    padding: .25em 1em;
    background-color: #dddacf !important;
    flex-grow: 1;
  }

  .chart-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
  }

  .item1 {
    /* flex:0 1 auto; */
    align-self:auto;
  }



  .component-hdr {
    font-size: 0.75em;
    font-weight: bold;
  }

  .component-label {
    font-size: 0.8em;
  }

  .component-label-center {
    text-align: center;
  }

  component-value {
    font-size: 1.0em;
  }



  .drought-status {

  }

  .selected-location {

  }

  .trend-container {
    background-color: #dddacf;
    padding: .25em 1em;
    height: 50%;
  }

  .outlook-container {
    background-color: #dddacf;
    padding: .25em 1em;
    height: 50%;
    margin-top: .25em;
  }

  .section-hdr {
    font-size: 0.95em;
  }

  .monthly-outlook-container {
    padding-left: 1em;
  }

  .monthly-outlook-value {
    font-size: 0.80em;
  }

  .seasonal-outlook-container {
    padding-left: 1em;
    padding-top: 1em;
  }

  .seasonal-outlook-value {
    font-size: 0.80em;
  }

  .agr-flex-container {
    display: flex;
  }

  .total-sales {
    text-align: center;
  }

  .agr-flex-child {
    flex: 1;
  }

  .agr-flex-child:first-child {
    margin-right: 20px;
    max-width: 120px;
  }


  .crops-container {

  }

  .crops-flex-child {
    flex: 1;
  }

  .crops-flex-child:first-child {

  }

  .outlook-flex-container {
    display: flex;
  }

  .outlook-flex-child {
    flex: 1;
  }

  .outlook-flex-child:first-child {

  }

  .outlook-label {
    font-size: .8em;
    flex: 0 0 auto;
    width: 100px;
  }

  .outlook-value {
    font-size: 1.2em;
    text-align: left;
  }


  #stackedBarchart {
    width: 100%;
  }

  #stackedBarchart > svg {
    width: 100%;
  }

  #areaChartScrubberContent {
    position: relative;
    left: 50px;
    width: 150px;
    height: 115px;
    font-size: .85em;
    line-height: 1.4;
    background-color: #5d5d5d;
    color: #d7d7d7;
    padding: 1em;
    border-radius: .3em;
  }

  .scrubberHoverCatViz {
    float: left;
    width: 20px;
    height: 10px;
    margin-top: .2em;
  }

  .abnormally-dry {
    background: #eee1b4;
  }

  .moderate-drought {
    background: #ecd092;
  }

  .severe-drought {
    background: #eaa771;
  }

  .extreme-drought {
    background: #dc6f4d;
  }

  .exceptional-drought {
    background: #aa3332;
  }

  .flex-container {
    margin-top: -.5em;
    list-style: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
  }

  .longhand {
    -webkit-flex-flow: wrap row;
    flex-flow: wrap row;
  }

  .longhand li {

  }

  .flex-item {
    text-align: center;
    margin-right: 1em;
  }

  .chart-legend {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .chart-legend-color-container {
    height: 5px;
    width: 25px;
    float: left;
    margin-top: .5em;
  }

  .chart-legend-label-container {
    float: left;
    padding-left: .25em;
    font-size: 0.80em;
  }

  .chart-info-icon-container {
    text-align: center;
    color: #494949;
  }

  .reset-chart-btn {
    background-color: transparent;
    color: #525252;
    border-color: #b5b5b5;
  }

  .reset-chart-btn:hover {
    background-color: transparent;
    color: #525252;
    border-color: #717171;
  }

  #administrativeSubdivision > fieldset {
    z-index: 99;
    background-color: transparent;
    margin: 0 !important;
  }

  .admin-sub-label {
    margin: 0 !important;
    background-color: #dddacf !important;
  }

  .js-modal-toggle:hover {
    cursor: pointer;
  }

  /* Bookmark - Start */
  .bookmark-btn {
    background-color: #dddacf;
    border: 1px solid #c5bfa7;
  }

  /* Search - Start */
  .esri-search {
    position: absolute !important;
    z-index: 99 !important;
    top: 50px !important;
    left: 55px !important;
    width: 235px !important;
  }

  /* Legend - Start */
  .esri-legend {
    background: transparent !important;
    box-shadow: none !important;
  }

  .esri-legend__layer-caption {
    display: none !important;
  }

  .esri-legend__layer-cell--info {
    display: none !important;
  }

  .esri-legend__layer-row {
    padding-left: .5em !important;
    position: absolute !important;
  }

  .esri-legend__layer-body > div:nth-child(1) {
    bottom: 35px;
    right: 130px;
  }

  .esri-legend__layer-body > div:nth-child(2) {
    bottom: 37px;
    right: 170px;
  }

  .esri-legend__layer-body > div:nth-child(3) {
    bottom: 40px;
    right: 210px;
  }

  .esri-legend__layer-body > div:nth-child(4) {
    bottom: 43px;
    right: 250px;
  }

  .esri-legend__layer-body > div:nth-child(5) {
    bottom: 46px;
    right: 290px;
  }

  .esri-legend__service-label {
    display: none !important;
    padding: .3em !important;
  }

  .esri-legend__message {
    display: none !important;
  }

  #legendLabels {
    text-align: center;
    font-size: 0.8em;
    padding-top: .5em;
    margin-left: 15%;
    margin-right: 15%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
