@import '~calcite-web/dist/css/calcite-web.min.css';

.esri-view .esri-view-surface--inset-outline:focus::after {
  outline: none !important;
}

html {
  overflow: hidden;
}

body {
  background-color: #cac5b1 !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }

  #bookmark-component {
    position: absolute;
    z-index: 99;
    top: 15px;
    left: 55px;
    background-color: #dddacf !important;
  }

  .bookmark-btn {
    background-color: #dddacf;
    border: 1px solid #c5bfa7;
  }



  .esri-search {
    position: absolute !important;
    z-index: 99 !important;
    top: 50px !important;
    left: 55px !important;
    width: 235px !important;
  }

  .esri-search__form > input {
    background-color: #dddacf !important;
  }

  .esri-widget--button {
    background-color: #dddacf !important;
  }



  #app-title-component {
    line-height: unset;
    padding: .25em;
    border-radius: .15em;
    background-color: #dddacf !important;
  }

  #administrative-subdivision > fieldset {
    z-index: 99;
    background-color: transparent;
    margin: 0 !important;
  }

  .admin-sub-label {
    margin: 0 !important;
    background-color: #dddacf !important;
  }

  #bottom-component {
    z-index: 99;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 215px;
    background-color: transparent;
    display: flex;
    /*background: linear-gradient(to top, #cac5b1 0%, rgb(202 197 177) 70%, rgba(0, 0, 0, 0) 100%);*/
  }

  #dataComponentLoader {
    position: absolute;
    margin-left: 45%;
  }

  #droughtStatusComponent {
    padding: .25em 1em;
    float: left;
    width: 330px;
    margin-right: .25em;
    background-color: #dddacf !important;
  }

  #agrComponent {
    padding: .25em 1em;
    float: left;
    width: 380px;
    background-color: #dddacf !important;
    margin-right: .25em;
  }

  #historicRecordComponent {
    padding: .25em 1em;
    background-color: #dddacf !important;
    flex-grow: 1;
  }


  .component-hdr {
    font-size: 0.75em;
    font-weight: bold;
  }



  .drought-status-label {
    font-size: 1.2em;
    font-weight: bolder;
    margin-top: .45em;
  }

  .drought-status-location-label {
    font-size: 0.95em;
  }

  .drought-status-location-population {
    font-size: 0.85em;
  }

  .outlook-container {
    margin-top: 1em;
  }

  .section-hdr {
    font-size: 0.95em;
  }


  .monthly-outlook-container {
    padding-left: 1em;
  }

  .monthly-outlook-value {
    font-size: 0.80em;
  }

  .seasonal-outlook-container {
    padding-left: 1em;
    padding-top: 1em;
  }

  .seasonal-outlook-value {
    font-size: 0.80em;
  }




  .agr-container {
    margin-top: 1em;
  }

  .agr-flex-container {
    display: flex;
  }

  .agr-label {
    text-align: right;
  }

  .agr-value {
    font-size: 1.4em;
    text-align: left;
  }

  .agr-flex-child {
    flex: 1;
  }

  .agr-flex-child:first-child {
    margin-right: 20px;
    max-width: 120px;
  }


  .crops-container {
    margin-top: 1em;
  }

  .crops-flex-child {
    flex: 1;
  }

  .crops-flex-child:first-child {

  }

  .crops-label {
    font-size: .8em;
  }

  .crops-value {

  }

  .outlook-flex-container {
    display: flex;
  }

  .outlook-flex-child {
    flex: 1;
  }

  .outlook-flex-child:first-child {
    margin-left: 1em;
  }

  .outlook-label {
    font-size: .8em;
  }

  .outlook-value {
    font-size: 1.2em;
    text-align: left;
  }



  #areaChart > svg {
    width: 100%;
  }

  #areaChartScrubberContent {
    position: relative;
    left: 50px;
    width: 150px;
    height: 115px;
    font-size: .85em;
    line-height: 1.4;
    background-color: #5d5d5d;
    color: #d7d7d7;
    padding: 1em;
    border-radius: .3em;
  }

  .scrubberHoverCatViz {
    float: left;
    width: 20px;
    height: 10px;
    margin-top: .2em;
  }

  .abnormally-dry {
    background: #eee1b4;
  }

  .moderate-drought {
    background: #ecd092;
  }

  .severe-drought {
    background: #eaa771;
  }

  .extreme-drought {
    background: #dc6f4d;
  }

  .exceptional-drought {
    background: #aa3332;
  }

  .flex-container {
    margin-top: -.5em;
    list-style: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
  }

  .longhand {
    -webkit-flex-flow: wrap row;
    flex-flow: wrap row;
  }

  .longhand li {

  }

  .flex-item {
    text-align: center;
    margin-right: 1em;
  }

  .chart-legend {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .chart-legend-color-container {
    height: 5px;
    width: 25px;
    float: left;
    margin-top: .5em;
  }

  .chart-legend-label-container {
    float: left;
    padding-left: .25em;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

/* Phone */
@media only screen and (max-width: 480px) {

}

/* Tablet */
@media only screen and (max-width: 600px) {

}

/* Desktop */
@media only screen and (max-width: 768px) {


}