@import '~calcite-web/dist/css/calcite-web.min.css';

.esri-view .esri-view-surface--inset-outline:focus::after {
  outline: none !important;
}

html {
  overflow: hidden;
}

body {

}

#splash {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  overflow-y: hidden;
  text-align: center;
  opacity: 1;
  visibility: visible;
  background: rgba(202, 197, 177, 1);
  -webkit-transition: visibility 0ms linear 300ms, opacity 300ms cubic-bezier(0.215, 0.44, 0.42, 0.88);
  transition: visibility 0ms linear 300ms, opacity 300ms cubic-bezier(0.215, 0.44, 0.42, 0.88);
  z-index: 101;
}

#appLoadingIndicator {
  position: absolute;
  z-index: 102;
  margin-left: 50%;
  margin-top: 15%;
}

.custom-alert {
  position: absolute;
  z-index: 103;
}

#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.esri-widget--button {
  background-color: #dddacf !important;
}

.component-value {
  font-size: 1em;
  font-weight: bold;
}

.mask-font-color {
  color: #00000024 !important;
}

.mask-font-opacity {
  opacity: 0.3 !important;
}

/* */
.custom-link {
  color: #212121 !important;
  font-weight: bold !important;
}

.custom-link:hover {
  color: #953b3b !important;
}

.user-profile-link {
  color: #212121 !important;
}

.user-profile-link:hover {
  color: #953b3b !important;
}


/* MODAL */
.js-modal-toggle {
  color: #4e4e4e !important;
}

.modal-close-btn {
  background: transparent;
  border-color: #505050;
  color: #a67a53;
}

.modal-close-btn:hover {
  background: transparent;
  border-color: #343434;
  color: #a67a53;
}

.modal-section-hdr {
  font-size: 1.4em;
  color: #aa3332;
  font-weight: bold;
}

.modal-section-content {
  font-size: .85em;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* iPhone X and Xs Max */
@media only screen
and (min-device-width: 375px)
and (min-device-height: 812px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) {
  #appHdrComponent {
    line-height: unset;
    padding: .25em;
    background-color: #dddacf !important;
    width: 100%;
  }

  #bookmarkComponent {
    display: none;
  }

  #administrativeSubdivision > fieldset {
    display: none;
  }

  #bottomComponent {
    z-index: 15;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 215px;
    background-color: transparent;
    display: block !important;
    overflow: scroll !important;
  }

  #dataComponentLoader {
    position: absolute;
    margin-left: 50%;
  }

  #droughtStatusComponent {
    width: 100%;
  }

  #agrComponent {
    padding: .25em 1em;
    width: 100%;
    background-color: #dddacf !important;
    margin-top: .25em;
  }

  #historicRecordComponent {
    padding: .25em 1em;
    background-color: #dddacf !important;
    width: 100%;
    margin-top: .25em;
  }


  .esri-search {
    display: none !important;
  }

  .esri-zoom {
    display: none !important;
  }

  .esri-home {
    display: none !important;
  }

  .esri-legend {
    display: none !important;
  }
}

/* iPhone XR */
@media only screen
and (min-device-width: 414px)
and (min-device-height: 896px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait) {
  #appHdrComponent {
    line-height: unset;
    padding: .25em;
    background-color: #dddacf !important;
    width: 100%;
  }

  #bookmarkComponent {
    display: none;
  }

  #administrativeSubdivision > fieldset {
    display: none;
  }

  .esri-search {
    display: none !important;
  }

  .esri-zoom {
    display: none !important;
  }

  .esri-home {
    display: none !important;
  }

  .esri-legend {
    display: none !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #bottomComponent {
    z-index: 15;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 215px;
    background-color: transparent;
    display: flex;
  }

  #dataComponentLoader {
    position: absolute;
    margin-left: 52%;
  }

  #droughtStatusComponent {
    float: right;
    width: 320px;
    margin-left: .25em;
    margin-right: .25em;
  }

  .reset-app-btn {
    position: absolute; top: 0; right: 0;
  }

  #historicRecordComponent {
    padding: .25em 1em;
    background-color: #dddacf !important;
    flex-grow: 1;
  }

  .chart-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
  }

  .item1 {
    /* flex:0 1 auto; */
    align-self:auto;
  }



  .component-hdr {
    font-size: 0.75em;
    font-weight: bold;
  }

  .component-label {
    font-size: 0.8em;
  }

  .component-label-center {
    text-align: center;
  }

  #drought-status {
    font-size: 1.2em !important;
  }

  .selected-location {
    font-weight: bold;
  }

  .drought-percentage-container {
    font-size: 0.85em;
  }

  .trend-container {
    background-color: #dddacf;
    padding: .25em 1em;
    height: 50%;
  }

  .section-hdr {
    font-size: 0.95em;
  }

  #stackedBarchart {
    width: 100%;
  }

  #stackedBarchart > svg {
    width: 100%;
  }

  #areaChartScrubberContent {
    position: relative;
    left: 50px;
    width: 150px;
    height: 115px;
    font-size: .85em;
    line-height: 1.4;
    background-color: #aaa79a;
    color: #fff;
    padding: 0.5em;
    border-radius: .3em;
    -webkit-box-shadow: 10px 10px 16px -6px rgba(170, 167, 154, .79);
    box-shadow: 10px 10px 16px -6px rgba(170, 167, 154, .79);
  }

  #areaChartScrubberContentDate {
    text-align: center;
    padding-top: .25em;
    font-size: .8rem;
  }

  .tooltip-flex-container {
    display: grid;
    grid-template-columns: 10px 100px 40px;
  }

  .legend-tooltip-graphic {
    height: 10px;
    width: 10px;
    margin-top: .2em;
  }

  .legend-tooltip-label {
    font-size: .85em;
    padding-left: .5em;
  }

  .legend-tooltip-value {
    font-size: .95em;
    text-align: right;
  }

  .abnormally-dry {
    background: #eee1b4;
  }

  .moderate-drought {
    background: #ecd092;
  }

  .severe-drought {
    background: #eaa771;
  }

  .extreme-drought {
    background: #dc6f4d;
  }

  .exceptional-drought {
    background: #aa3332;
  }

  .flex-container {
    margin-top: -.5em;
    list-style: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
  }

  .longhand {
    -webkit-flex-flow: wrap row;
    flex-flow: wrap row;
  }

  .longhand li {

  }

  .flex-item {
    text-align: center;
    margin-right: 1em;
  }

  .chart-info-icon-container {
    text-align: center;
    color: #494949;
  }

  .reset-chart-btn {
    background-color: transparent;
    color: #525252;
    border-color: #b5b5b5;
  }

  .reset-chart-btn:hover {
    background-color: transparent;
    color: #525252;
    border-color: #717171;
  }

  #administrativeSubdivision > fieldset {
    z-index: 99;
    background-color: transparent;
    margin: 0 !important;
  }

  .admin-sub-label {
    margin: 0 !important;
    background-color: #dddacf !important;
  }

  .radio-group-input:checked + .radio-group-label {
    border: 1px solid #848484 !important;
  }

  .js-modal-toggle:hover {
    cursor: pointer;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
