/* Legend - Start */
.esri-legend {
  background: transparent !important;
  box-shadow: none !important;
}

.esri-legend__layer-caption {
  display: none !important;
}

.esri-legend__layer-cell--info {
  display: none !important;
}

.esri-legend__layer-cell {

}

.esri-legend__layer-row {
  padding-left: .5em !important;
  position: absolute !important;
}

.esri-legend__layer-body > div:nth-child(1) {
  bottom: 35px;
  right: 130px;
}

.esri-legend__layer-body > div:nth-child(2) {
  bottom: 36px;
  right: 170px;
}

.esri-legend__layer-body > div:nth-child(3) {
  bottom: 38px;
  right: 210px;
}

.esri-legend__layer-body > div:nth-child(4) {
  bottom: 39px;
  right: 240px;
}

.esri-legend__layer-body > div:nth-child(5) {
  bottom: 40px;
  right: 270px;
}

.esri-legend__service-label {
  display: none !important;
  padding: .3em !important;
}

.esri-legend__message {
  display: none !important;
}

#legendLabels {
  text-align: center;
  font-size: 0.8em;
  margin-left: 15%;
  margin-right: 15%;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* iPhone X and Xs Max */
@media only screen
and (min-device-width: 375px)
and (min-device-height: 812px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) {
  .esri-legend {
    display: none !important;
  }
}
