#agrComponent {
  padding: .25em 1em;
  float: right;
  width: 380px;
  background-color: #dddacf !important;
}

.agr-flex-container {
  display: flex;
}

.crops-flex-child {
  flex: 1;
}

.jobs {
  font-weight: bold;
  color: #5C7250;
}

.totalSales {
  font-weight: bold;
  color: #5C7250;
}
