#appHdrComponent {
  line-height: unset;
  padding: .25em;
  border-radius: .15em;
  background-color: #dddacf !important;
  max-width: 360px;
}

.custom-link {
  color: #762a2a !important;
  font-weight: bold !important;
}

.custom-link:hover {
  color: #953b3b !important;
}
