#appHdrComponent {
  line-height: unset;
  padding: .25em;
  border-radius: .15em;
  background-color: #dddacf !important;
}

.app-hdr-content {
  float: left;
  max-width: 320px;
}

.app-hdr-title {
  font-size: 2.5em;
  color: #aa3332;
  text-shadow: 1px 1px 2px rgba(170, 51, 50, 0.61);
}

.app-hdr-subtitle {
  font-size: 1.1em;
}

.app-hdr-instructions {
  font-size: .80em;
}

.app-hdr-source {
  font-size: .7em;
  color: #6c6c6c;
}

.app-hdr-info-icon-container {
  float: right;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
/* iPhone X and Xs Max */
@media only screen
and (min-device-width: 375px)
and (min-device-height: 812px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) {
  #appHdrComponent {
    width: 100%;
  }

  .app-hdr-content {

  }

  .app-hdr-title {
    font-size: 2.5em;
    color: #aa3332;
    text-shadow: 1px 1px 2px rgba(170, 51, 50, 0.61);
  }

  .app-hdr-subtitle {
    display: none;
  }

  .app-hdr-instructions {
    display: none;
  }

  .app-hdr-source {
    display: none;
  }
}

/* iPhone XR */
@media only screen
and (min-device-width: 414px)
and (min-device-height: 896px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait) {

}
