#appHdrComponent {
  line-height: unset;
  padding: .25em;
  border-radius: .15em;
  background-color: #dddacf !important;
  max-width: 360px;
}

.app-hdr-content {
  float: left;
  max-width: 320px;
}

.app-hdr-title {
  font-size: 2.5em;
  color: #aa3332;
  text-shadow: 1px 1px 2px rgba(170, 51, 50, 0.61);
}

.app-hdr-subtitle {
  font-size: 1.1em;
}

.app-hdr-instructions {
  font-size: .80em;
}

.app-hdr-source {
  font-size: .7em;
  color: #6c6c6c;
}

.app-hdr-info-icon-container {
  float: right;
}
