#appHdrComponent {
  line-height: unset;
  padding: .25em;
  border-radius: .15em;
  background-color: #dddacf !important;
  max-width: 360px;
}

.app-hdr-content {
  float: left;
  max-width: 320px;
}

.app-hdr-title {
  font-size: 2.5em;
  color: #6f3f14;
}

.app-hdr-subtitle {
  font-size: .85em;
  color: #a67a53;
}

.app-hdr-source {
  font-size: .7em;
  color: #6c6c6c;
}

.app-hdr-info-icon-container {
  float: right;
}

.custom-link {
  color: #762a2a !important;
  font-weight: bold !important;
}

.custom-link:hover {
  color: #953b3b !important;
}
